{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Artikel</title>
  <link rel="stylesheet" href="{% static 'css/artikel.css' %}">
{% endblock meta %}

{% block content %}
  <div class="container">
    <div class="mb-5">
      <h1 style="font-size: 72px;"><b>Artikel</b></h1>
      <h4>Untuk menambah wawasanmu.</h4>
      {% if isHost == True %}
      <a href="{% url 'artikel:dasbor_artikel' %}" class="btn custombluebutton">Menuju Dasbor</a>
      {% endif %}
    </div>
    <div class="mt-3 row">
      {% if artikels %}
        {% for artikel in artikels %}
          <div class="customcard m-3" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">{{ artikel.judul }}</h4>
              <p class="card-text text-muted h6">Hana Bahagiana | {{ artikel.waktu_dibuat }}</p>
              <a href="{% url 'artikel:detail_artikel' id_artikel=artikel.id_artikel %}" class="btn custombluebutton">Baca Selengkapnya</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}