{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Artikel</title>
  <link rel="stylesheet" href="{% static 'css/artikel.css' %}"> 
{% endblock meta %}

{% block content %}
  <!-- Modal -->
  <div class="modal fade" id="hapusModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hapusModalLabel">Hapus Artikel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-text">
        </div>
        <div class="modal-footer">
          <a id="modal-url" href="#" type="button" class="btn customredbutton">Hapus Artikel</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="container">
    <div class="my-3">
      <h2 class="text-center mb-5">Dasbor Artikel</h2>
      <a href="{% url 'artikel:buat_artikel' %}" type="button" class="btn custombluebutton">Tambah Artikel</a>
    </div>
    <div class="mt-3">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Judul</th>
            <th>Tanggal</th>
            <th>Pembuat</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% if artikels %}
            {% for artikel in artikels %}
              <tr>
                <td>{{ artikel.id_artikel }}</td>
                <td>{{ artikel.judul }}</td>
                <td>{{ artikel.waktu_dibuat }}</td>
                <td>Host Name</td>
                <td>
                  <a href="{% url 'artikel:ubah_artikel' id_artikel=artikel.id_artikel %}" type="button" class="btn btn-sm custombluebutton m-1">Ubah</a>
                  <button type="button" class="btn btn-sm customredbutton m-1" data-toggle="modal"
                    data-target="#hapusModal" onclick="deleteFunc( '{{artikel.id_artikel}}' , '{{artikel.judul}}' )">Hapus</button>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    function deleteFunc(id, judul) {
        document.getElementById("modal-text").innerHTML = `Apakah anda yakin ingin menghapus artikel id <b>${id}</b> yang berjudul <b>${judul}</b> ?`
        document.getElementById("modal-url").href = `/artikel/hapus/${id}`
    }
  </script>
{% endblock content %}