{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Artikel</title>
  <link rel="stylesheet" href="{% static 'css/artikel.css' %}">
{% endblock meta %}

{% block content %}
  <div class="container">
    <div class="my-3">
      <h1 class="text-center mb-3">{{ artikel.judul }}</h1>
      <h6 class="text-muted">Hana Bahagiana | {{ artikel.waktu_dibuat }}</h6>
      <hr class="my-3"/>
      <p class="text-justify">
        {% autoescape on %}
          {{ artikel.deskripsi | safe }}
        {% endautoescape %}
      </p>
      <a href="{% url 'artikel:daftar_artikel' %}" class="btn custombluebutton mt-4">Lihat Artikel Lainnya</a>
    </div>
  </div>
{% endblock content %}