{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Artikel - Ubah</title>
<script src="https://cdn.tiny.cloud/1/rits967rpft2n8zl9lpacidpbxmnslueyite3ci7574qo8tt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<link rel="stylesheet" href="{% static 'css/artikel.css' %}"> 
{% endblock meta %}

{% block content %}
  <div class="container">
    {% if err_msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Data gagal tersimpan. Harap masukkan data yang valid!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <h2 class="text-center my-5">Form Pengubahan Artikel</h2>
    <div class="mt-3">
      <form action="{% url 'artikel:ubah_artikel' id_artikel=id_artikel %}" method="POST">
        {% csrf_token %}
        <div class="card customcard p-4 mb-5">
          <div class="card-body">
            <div class="mb-3">
              <label for="judul" class="form-label">Judul</label>
              <input type="text" class="form-control" name="judul" value="{{ judul }}">
            </div>
            <div class="mb-3">
              <label for="deskripsi" class="form-label">Isi</label>
              <textarea type="text" class="deskripsi" name="deskripsi">{{ deskripsi }}</textarea>
            </div>
          </div>
        </div>
        <div class="text-right">
          <a href="{% url 'artikel:dasbor_artikel' %}"  type="button" class="btn customredbutton">Batal</a>
          <button type="submit" class="btn custombluebutton">Simpan</button>
        </div>
      </form>
    </div>
  </div>
  <script>
  tinymce.init({
    selector: "textarea.deskripsi",
    plugins:
      "casechange advcode advlist lists spellchecker formatpainter autoresize visualblocks tinydrive image link media imagetools wordcount",
    min_height: 380,
    menubar: false,
    toolbar: [
      "bold italic underline | forecolor | formatselect | alignleft aligncenter alignright | bullist numlist",
      "cut copy paste formatpainter removeformat | casechange visualblocks | spellchecker | link image media | code"
    ]
  });
  </script>
{% endblock content %}
