<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <!-- <title>Dropdown Menu Bar</title> -->
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Story 1 PPW Amanda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
  <style>
    .bg-1 { 
        background-color: #FFFFFF;
        color: #000000;
    
    .container-fluid {
            padding-top: 10%;
            padding-bottom: 10%;
    }
  </style>

      <link href="style.css" rel="stylesheet" type="text/css">

</head>
{% extends 'base.html' %}
<body>
{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <h1>Form Tambah Debat</h1>
    </div>

    <form id="form" method="POST" action= "post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form_tambah.as_p }}
        </div>
        <br>
        <button type="submit" class="btn btn-success" id="bton">Simpan</button>
    </form>
    

    </body>
    {% endblock %}
</html>

