<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <!-- <title>Dropdown Menu Bar</title> -->
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Story 1 PPW Amanda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
  <style>
        .bg-1 { 
            background-color: #FFFFFF;
            color: #000000;
        
        .container-fluid {
                padding-top: 10%;
                padding-bottom: 10%;
        }
      
  </style>

      <link href="style.css" rel="stylesheet" type="text/css">

</head>
{% extends 'base.html' %}
<body>
{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    <h1>DETAIL KEGIATAN DEBAT</h1>
    </div>

<div class="container-fluid bg-1">
<table class="table">
<div class="tabelmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Judul</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Link</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            
            </tr>
        </thead>
        <tbody>
    {% for i in data %}
    <tr>
        <td>{{ i.iddebat }}</td>
        <td>{{ i.judul }}</td>
        <td>{{ i.deskripsi }}</td>
        <td>{{ i.starttime }}</td>
        <td>{{ i.endtime }}</td>
        <td>{{ i.link }}</td>
        <td>{{ i.status }}</td>
        <td>
            <button class="btn btn-success"><h3>Edit</h3>
            {% if hasilIsExist == False %}
                {% if isJuri == True %}
            <button class="btn btn-success"><a href="{% url 'mengumumkanhasil:formulir_hasil' %}" class="btn custombluebutton"><h3 style="color: white;">Isi Hasil</h3></a>            
                {% endif %}
            {% endif %}
            {% if hasilIsExist == True %}
            <button class="btn btn-success"><a href="{% url 'mengumumkanhasil:detail_hasil' id_hasil=i.iddebat %}" class="btn custombluebutton"><h3 style="color: white;">Hasil</h3></a>            
            {% endif %}
            {% comment %} <button class="btn btn-primary btn-am bg-success update" 
            id-debat="{{ i.iddebat }}"
            judul-debat="{{ i.judul }}"
            deskripsi-debat="{{ i.deskripsi }}"
            starttime-debat="{{ i.starttime }}"
            endtime-debat="{{ i.endtime }}"
            link-debat="{{ i.link }}"
            >Update</button>
            <div class="modal fade" id="update-debat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Form Update Debat</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="post" id="form-update">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="idnya">ID Debat</label>
                            <input type="text" class="form-control " id="idnya" name="u-id-debat" placeholder="ID" required>
                        </div>
                        <div class="form-group">
                            <label for="judulnya">Judul Debat</label>
                            <input type="text" class="form-control " id="judulnya" name="u-judul-debat" placeholder="Judul" required>
                        </div>
                        <div class="form-group">
                            <label for="deskripsinya">Deskripsi Debat</label>
                            <input type="text" class="form-control " id="deskripsinya" name="u-deskripsi-debat" placeholder="Deskripsi" required>
                        </div>
                        <div class="form-group">
                            <label for="starttimenya">Starttime Debat</label>
                            <input type="text" class="form-control " id="starttimenya" name="u-starttime-debat" placeholder="Starttime" required>
                        </div>
                        <div class="form-group">
                            <label for="endtimenya">Endtime Debat</label>
                            <input type="text" class="form-control " id="endtimenya" name="u-endtime-debat" placeholder="Endtime" required>
                        </div>
                        <div class="form-group">
                            <label for="linknya">Link Debat</label>
                            <input type="text" class="form-control " id="linknya" name="u-link-debat" placeholder="Link" required>
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            
                            <button type="submit" class="btn bg-success btn-primary ">Submit</button>
                            
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div> {% endcomment %}

        </td>
 
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

{% comment %} <script>
$('.update').click(function(){
$('#update-debat').modal();
var iddebat = $(this).attr('id-debat')
var judul = $(this).attr('judul-debat')
var deskripsi = $(this).attr('deskripsi-debat')
var starttime = $(this).attr('starttime-debat')
var endtime = $(this).attr('endtime-debat')
var link = $(this).attr('link-debat')


$('#form-update').attr('action', '/mengeloladebat/updatedebat/'+iddebat)
$('#idnya').val(iddebat)
$('#judulnya').val(judul)
$('#deskripsinya').val(deskripsi)
$('#starttimenya').val(starttime)
$('#endtimenya').val(endtime)
$('#linknya').val(link)
})
        <td><a href="/mengeloladebat/update/{{i.iddebat}}">
            <button type="button" class="btn btn-success"><h3>Update</h3></button>
            </a> </td>
 
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div> {% endcomment %}
</body>    
{% endblock %}


</html>



