<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <!-- <title>Dropdown Menu Bar</title> -->
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Story 1 PPW Amanda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
  <style>



  .bg-1 { 
    background-color: #FFFFFF;
    color: #000000;

    .jumbotron-fluid{
        background-color: #E1ECFF;
        color: #000000;
    }
    .container-fluid {
        padding-top: 10%;
        padding-bottom: 10%;
    }
  </style>

      <link href="style.css" rel="stylesheet" type="text/css">

</head>
{% extends 'base.html' %}
<body>
{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    <h1>LIST KEGIATAN DEBAT</h1>
    </div>
<div class="container-fluid bg-1 text-center">

<br></br>

<table class="table">
    <thead>
      <tr>
        <th><h1>ID Debat</h1></th>
        <th><h1>Judul</h1></th>
      </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{i.iddebat}}</td>
            <td>
                <a href="/mengeloladebat/{{ i.iddebat }}">
                    <p>{{ i.judul }}</p>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="/mengeloladebat/adddebat">
    <button type="button" class="btn btn-primary btn-am bg-danger"><h3>Add Debat</h3></button>
    </a>
<br></br>
</body>
{% endblock %}
</html>


