{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>HasilDebat - Buat</title>
<script src="https://cdn.tiny.cloud/1/rits967rpft2n8zl9lpacidpbxmnslueyite3ci7574qo8tt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<link rel="stylesheet" href="{% static 'css/artikel.css' %}"> 
{% endblock meta %}

{% block content %}
<div class="container">
    {% if err_msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Data gagal tersimpan. Harap masukkan data yang valid!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <h2 class="text-center my-5">Form Pengubahan Debat</h2>
    <div class="mt-3">
      <form action="{% url 'debat:ubah_debat' iddebat=iddebat %}" method="POST">
        {% csrf_token %}
        <div class="card customcard p-4 mb-5">
          <div class="card-body">
            <div class="mb-3">
              {% comment %} <label for="pk_id" class="form-label">id_hasil</label>
              <input type="text" class="form-control" name="id_hasil" value="{{ id_hasil }}">

              <label for="pk_id" class="form-label">iddebat</label>
              <input type="text" class="form-control" name="iddebat" value="{{ iddebat }}"> {% endcomment %}

              <label for="pm" class="form-label">judul</label>
              <input type="text" class="form-control" name="judul" value="{{ judul }}">
              
          </div>
        </div>
        <div class="text-right">
          <a href="{% url 'debat:hasil_debat' %}"  type="button" class="btn customredbutton">Batal</a>
          <button type="submit" class="btn custombluebutton">Simpan</button>
        </div>
      </form>
    </div>
  </div>
  <script>
  
  </script>
{% endblock content %}
