{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Persona Tutor</title>
    <link rel="stylesheet" href="{% static 'css/persona.css' %}">
{% endblock meta %}

{% block content %}

<div id="persona-tutor-list">
    <div class="container" >
        <div>
            <p style="font-size: 36px; font-weight: bolder; margin-bottom: 10px;">Daftar Tutor</p>
            <p>Layanan tutor untuk mendapatkan pengajaran dari tutor terbaik yang ada</p>
        </div>
        
        {% if create %}
            <a class="btn" href="{% url 'personatutor:create' %}">Buat Persona Tutor</a>
        {% elif show_id %}
            <a class="btn" href="{% url 'personatutor:show' id=show_id %}">Lihat Persona Tutor Saya</a>
        {% endif %}

        {% if dataset %}
        <div class="persona-list">
            {% for data in dataset%}
            <div class="row">
                <div class="col-md-auto" style="width: 150px;">
                    <img class="profile-pict" src='https://i.ibb.co/1L3cVVn/barb.jpg' alt='' style="width: 100px;">
                </div>
                <div class="col">
                    <p style="font-size: 24px; font-weight: bold; margin-bottom: 10px;">{{ data.nama }}</p>
                    <p>{{ data.harga }}</p>
                </div>
                <div class="col-md-auto">
                    <a class="btn" href="{% url 'personatutor:show' id=data.id %}">Lihat Tutor</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}