{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Edit Persona Tutor</title>
    <link rel="stylesheet" href="{% static 'css/persona.css' %}">
{% endblock meta %}

{% block content %}

<div id="persona-tutor-edit">
    <div class="container" >
        {% if tutor.persona.id == id|add:"0" %}
        <div>
            <p style="font-size: 36px; font-weight: bolder; margin-bottom: 10px;">Edit Persona Tutor</p>
            <p>Edit informasi persona tutor Anda</p>
        </div>
        
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="d-flex justify-content-end">
                <a class="btn batal" href="{% url 'personatutor:show' id=id %}">Batal</a>
                <input class="btn simpan" type="submit" value="Simpan">
            </div>
        </form>

        {% else %}
        <div>
            <h3>You Need to Have Persona Tutor First.</h3>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
