{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Error</title>
    <link rel="stylesheet" href="{% static 'css/persona.css' %}">
{% endblock meta %}

{% block content %}

<div id="persona-tutor-eror">
    <div class="container" >
        <h3>Permission Denied to Access This Page.</h3>
    </div>
</div>

{% endblock content %}
