{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Buat Persona Tutor</title>
    <link rel="stylesheet" href="{% static 'css/persona.css' %}">
{% endblock meta %}

{% block content %}

<div id="persona-tutor-create">
    <div class="container" >
        {% if is_tutor %}
        {% if not tutor.persona %}
        <div>
            <p style="font-size: 36px; font-weight: bolder; margin-bottom: 10px;">Daftar Persona Tutor</p>
            <p>Layanan tutor untuk mendapatkan pengajaran dari tutor terbaik yang ada</p>
        </div>
        
        <form method="POST">
        {% csrf_token %}
            {{ form }}
            <div class="d-flex justify-content-end">
                <button class="btn batal">Batal</button>
                <input class="btn simpan" type="submit" value="Simpan">
            </div>
        </form>
        
        {% else %}
        <div>
            <h3>Can Only Create One Persona.</h3>
        </div>
        {% endif %}
        {% else %}
        <div>
            <h3>Only Tutor Can Create Persona Tutor.</h3>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
