{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Persona Tutor - {{ data.nama }}</title>
    <link rel="stylesheet" href="{% static 'css/persona.css' %}">
{% endblock meta %}

{% block content %}

<div id="persona-tutor">
    <div class="container" >
        <div class="row">
            <div class="col">
                <div class="persona-header">
                    <div class="persona-name">
                        <p style="font-weight: bolder; font-size: 36px; padding-right: 10px;">{{ data.nama|default:"Unknown name"}}</p>
                        {% if show_option %}
                        <a href="{% url 'personatutor:edit' id=data.id %}" class="icon-edit"><i class="fas fa-edit"></i></a>
                        <a data-toggle="modal" data-target="#exampleModalCenter" class="icon-delete"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>
                    <p>{{ data.email|default:"Unknown email"}}</p>
                </div>
                <div class="persona-desc">
                    <p style="font-size: 18px; font-weight: bold;">Tentang Tutor</p>
                    <p> {{ data.tentang_tutor|default:"Unknown description" }}</p>
                </div>
                <div class="persona-desc">
                    <p style="font-size: 18px; font-weight: bold;">Deskripsi Kursus</p>
                    <p> {{ data.deskripsi_kursus|default:"Unknown description" }}</p>
                </div>
                <div class="persona-desc">
                    <p style="font-size: 18px; font-weight: bold;">Jadwal Kursus</p>
                    <p> {{ data.get_jadwal_display|default:"Unknown Schedule" }}</p>
                </div>
            </div>
            <div class="col-md-auto persona-right">
                <img class="profile-pict" src='https://i.ibb.co/1L3cVVn/barb.jpg' alt='' style="width: 250px;">
                <div style="margin-top: 40px;">
                    {% if data.harga %}
                        <p style="font-size: 24px; font-weight: bold;">Rp{{ data.harga }}</p>
                    {% else %}
                        <p style="font-size: 24px; font-weight: bold;">Unknown price</p>
                    {% endif %}
                    {% if data.ready and request.session.role == 'pendebat' %}
                    <button class="btn"><a data-toggle="modal" data-target="#modalReservasi" style="text-decoration: none; color: #FFFFFF;font-size: 18px;">Reservasi Tutor</a></button>
                    {% endif %}
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hapus Persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p>Apakah anda yakin untuk menghapus persona tutor? Tekan 'OK' untuk melanjutkan hapus persona tutor.</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary batal" data-dismiss="modal">Cancel</button>
                    <a class="btn" href="{% url 'personatutor:delete' id=data.id %}">OK</a>
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal Konfirmasi Reservasi -->
            <div class="modal fade" id="modalReservasi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Reservasi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p style="color:#1D3557; font-size: 18px;font-weight: 900;">Apakah anda yakin untuk membuat reservasi? Tekan 'OK' untuk lanjut reservasi.</p>
                    </div>
                    <div class="modal-footer">
                    <button id="kembali" data-dismiss="modal">Cancel</button>
                    <a class="btn" href="{% url 'reservasi:create' id=tutor.id %}">OK</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
