/* Main Style Persona Tutor */
#persona-tutor-list, #persona-tutor-edit, #persona-tutor-create, #persona-tutor-eror {
    min-height: 100vh;
    margin-top: 54px;
    padding: 60px 0;
    text-align: center;
}
.profile-pict {
    border-radius: 50%;
}
.btn {
    background: #457B9D;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 8px 16px;
}
.btn:hover {
    background: #1D3557;
    color: #FFFFFF;
}
.btn.batal {
    background: #FFFFFF;
    color: #E63946;
    border: 1px solid #E63946;
    margin-right: 10px;
}
.btn.batal:hover {
    background-color: #E63946;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

/* Persona Tutor Page */
#persona-tutor {
    min-height: 100vh;
    margin-top: 54px;
    padding-top: 60px;
}
.persona-header {
    margin-bottom: 50px;
}
.persona-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.persona-name .icon-edit, .persona-name .icon-delete {
    color: rgb(172, 172, 172);
    padding: 0 8px;
}
.persona-name .icon-edit:hover {
    color: #1D3557;
}
.persona-name .icon-delete:hover {
    color: #E63946;
}
.persona-name i {
    font-size: 18px;
}
.persona-desc {
    margin: 30px 0;
    padding-right: 100px;
}
.persona-right {
    width: 300px;
    text-align: center;
}

/* Persona Tutor List */
.persona-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}
.persona-list .row {
    width: 750px;
    padding: 25px 40px;
    margin: 15px 0;
    text-align: left;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.persona-list .row:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Persona Tutor Form */
form{
    border-radius: 20px;
    width: 70%;
    margin: 50px auto;
    margin-top: 60px;
    padding: 50px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input[type=text], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #939393;
    border-radius: 5px;
    box-sizing: border-box;
}
form .btn {
    font-weight: bold;
    padding: 8px 25px;
    margin-top: 30px;
}