{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Reservasi Saya</title>

{% endblock meta %}

{% block content %}
<style>
  #container-list {
    min-height: 100vh;
    margin-top: 54px;
    padding: 60px 0;
    text-align: center;
}

.profile-pict {
    border-radius: 50%;
}
.btn {
    background: #457B9D;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-weight: bold;
    
}
.btn-cari {
    background: #F1FAEE;
    border-radius: 25px;
    color: #1D3557;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-weight: bold;
    
}
.btn-cancel{
    background: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #E63946;
    color: #E63946;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-weight: bold;
}
.btn-cancel:hover{
    background-color: #E63946;
    color: #FFFFFF;
    transition: all 0.1s ease-in-out
}
.btn:hover {
    background: #1D3557;
    color: #FFFFFF;
    transition: all 0.1s ease-in-out
}

.buttons{
  display: flex;
  flex-direction: column;
}

.reservasi-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}
.row {
    width: 750px;
    padding: 25px 40px;
    margin: 15px 0;
    text-align: left;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.row:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.confirm-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.confirm{
  background-color: #FFFFFF;
  width: 30%;
  height: 30%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.confirm-btn{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.bayar-active{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}
#proceed{
  background: #457B9D;
  border-radius: 25px;
  color: #FFFFFF;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-weight: bold;
}
#proceed:hover{
  background: #1D3557;
  color: #FFFFFF;
  transition: all 0.1s ease-in-out
}
#cancel{
    background: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #E63946;
    color: #E63946;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-weight: bold;
}
#cancel:hover{
    background-color: #E63946;
    color: #FFFFFF;
    transition: all 0.1s ease-in-out
}
#kembali{
    background: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #1D3557;
    color: #1D3557;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-weight: bold;
}
.data{
  margin-bottom: 5px;
}
</style>

<div id="container-list">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container" >
        <div>
            <p style="font-size: 36px; font-weight: bolder; margin-bottom: 10px;">Daftar Reservasi</p>
        </div>
        
        <div class="reservasi-list">
        {% if data_reservasi %}
          {% for data in data_reservasi %}
            <div class="row">
                <div class="col-md-auto" style="width: 150px;">
                    <img class="profile-pict" src='https://i.ibb.co/1L3cVVn/barb.jpg' alt='' style="width: 100px;">
                </div>
                <div class="col">
                    <p style="font-size: 24px; font-weight: bold; margin-bottom: 10px;">{{ data.tutor.persona.nama }}</p>
                    <p class="data">Rp {{ data.tutor.persona.harga }}</p>
                    <p class="data">Tanggal Reservasi: {{ data.created_at }}</p>
                    {% if data.status_reservasi == 'Menunggu Pembayaran' %}
                    <p class="data">Tanggal Pembayaran: -</p>
                    {% elif data.status_reservasi == 'Completed' %}
                    <p class="data">Tanggal Pembayaran: {{ data.modified_at }}</p>
                    {% elif data.status_reservasi == 'Cancelled' %}
                    <p class="data">Tanggal Pembatalan: {{ data.modified_at }}</p>
                    {% endif %}
                    {% if data.status_reservasi == 'Menunggu Pembayaran' %}
                    <p style="color: #1D3557;font-size: 14px;font-weight: 900;">{{ data.status_reservasi }}</p>
                    {% elif data.status_reservasi == 'Completed' %}
                    <p style="color: #46C353;font-size: 14px;font-weight: 900;">{{ data.status_reservasi }}</p>
                    {% else %}
                    <p style="color: #E63946;font-size: 14px;font-weight: 900;">{{ data.status_reservasi }}</p>
                    {% endif %}
                </div>
                <div class="col-md-auto buttons">
                    {% if data.status_reservasi == 'Menunggu Pembayaran' %}
                    <button class="btn" data-toggle="modal" data-target="#modalBayar" onclick="bayarFunc('{{ data.id_reservasi }}')">Bayar</button>
                    <button class="btn-cancel" data-toggle="modal" data-target="#modalBatal" onclick="cancelFunc('{{ data.id_reservasi }}')">Batal</button>
                    {% endif %}
                    <a href="{% url 'personatutor:show' id=data.tutor.persona.id %}" style="color: #1D3557; text-decoration: none;padding-left: 8px;font-weight: bold;font-size: 18px;">Lihat Tutor</a>
                </div>
            </div>
          {% endfor %}
        {% else %}
        <h3 style="margin-bottom: 2%;">Anda belum membuat reservasi tutor. Ayo cari tutor yang kamu inginkan!</h3>
        <a class="btn" href="{% url 'personatutor:daftar' %}">Cari Tutor</a>  
        {% endif %}
        </div>
    </div>
</div>
<!-- Modal Pembayaran -->
<div class="modal fade" id="modalBayar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Pembayaran</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color:#1D3557; font-size: 18px;font-weight: 900;">Apakah anda yakin untuk membayar reservasi? Tekan 'OK' untuk lanjut membayar.</p>
      </div>
      <div class="modal-footer">
        <button id="kembali" data-dismiss="modal">Cancel</button>
        <a id="proceed" href="#">OK</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Pembatalan -->
<div class="modal fade" id="modalBatal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Pembatalan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color:#1D3557; font-size: 18px;font-weight: 900;">Apakah anda yakin untuk membatalkan reservasi? Tekan 'OK' untuk lanjut membatalkan.</p>
      </div>
      <div class="modal-footer">
        <button id="kembali" data-dismiss="modal">Cancel</button>
        <a id="cancel" href="#">OK</a>
      </div>
    </div>
  </div>
</div>
</div>

<script>
    function bayarFunc(id) {
        document.getElementById("proceed").href = `/reservasi-tutor/${id}/bayar`;
    }
    
    function cancelFunc(id) {
        document.getElementById("cancel").href = `/reservasi-tutor/${id}/cancel`;
    }
</script>
{% endblock content %}