/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Reset CSS */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Project Style */
body {
  font-family: 'Poppins';
}
p, a {
  font-size: 12px;
}
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

#content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


/* Navbar Style */
#navbar {
  background-color: #FFFFFF;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 10;
}
.topnav {
  margin: 0 auto;
  max-width: 1200px;
}
.topnav a {
  border-radius: 30px;
  color: #457B9D;
  display: block;
  float: left;
  font-size: 16px;
  margin: 10px 0px;
  padding: 5px 20px;
  text-decoration: none;
}
.topnav a:hover{
  text-decoration: none;
}
.topnav a:not(:first-child){
  float: right;
}
.topnav a:not(:first-child):hover {
  background-color: #457B9D;
  color: #FFFFFF;
}


/* Footer Style */
#footer {
  background-color: #1D3557;
  bottom: 0;
  color: white;
  padding: 50px 0;
  position: static;
  right: 0;
}