body {
  color: #1D3557;
}

.customcard {
  border: 2px solid #1D3557;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.custombluebutton{
  background: #457B9D;
  border: 2px solid #457B9D;
  color: white;
  transition: 0.5s;
}
.custombluebutton:hover,
.custombluebutton:focus{
  color: white;
  border: 2px solid #1D3557;
  box-shadow: inset 0 0 0 10em #1D3557;
}

.customredbutton{
  background: white;
  border: 2px solid #E63946;
  color: #E63946;
  transition: 0.5s;
}

.customredbutton:hover,
.customredbutton:focus {
  color: white;
  box-shadow: inset 10em 0 0 0 #E63946;
}