<div id="footer" class="fixed-bottom">
    <div class="container" >
        <p style="font-size: 24px;font-weight: bold;">DebateHall</p>
        <p>by DebateHall</p>
        <p style="margin: 30px 0;">Amanda Carissa<br>Ferdi Fadillah<br>Muhammad Fayaad<br>Naufal Pramudya<br>Natasya Zahra</p>
        <p>RPL Kelas B Ganjil 2021/2022</p>
    </div>
</div>
