<div id="navbar">
    <div class="topnav" >
        <a href="{% url 'main:home' %}" style="font-weight: bold;">Debate<span style="color:#E63946;">Hall</span></a>
        {% if user.is_authenticated %}
          <a href="{% url 'main:logout' %}">Keluar</a>
        {% else %}
          <a href="{% url 'main:login' %}">Masuk</a>
        {% endif %}
        {% if request.session.role == 'pendebat' %}
          <a href="{% url 'reservasi:list-reservasi' %}">Reservasi Saya</a>
        {% endif %}
        <a href="{% url 'artikel:daftar_artikel' %}">Artikel</a>
        <a href="{% url 'personatutor:daftar' %}">Tutor</a>
        <a href="/mengeloladebat/listdebat">Debat</a>
        <a href="/mengumumkanhasil/">Hasil Debat</a>
    </div>
</div>
