<div id="navbar">
    <div class="topnav" >
        <a href="{% url 'main:home' %}" style="font-weight: bold;">Debate<span style="color:#E63946;">Hall</span></a>
        <a href="">Profil</a>
        <a href="{% url 'reservasi:list-reservasi' %}">Reservasi Saya</a>
        <a href="">Artikel</a>
        <a href="">Tutor</a>
        <a href="/mengeloladebat/listdebat">Debat</a>
        <a href="/mengumumkanhasil/">Hasil Debat</a>
    </div>
</div>
