{% extends 'base_loggedin.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock meta %}

{% block content %}
<div id="home">
  <div class="home-bg" >
    <h1 class="title"><b>Online Debate Platform</b></h1>
    <h6 class="subtitle">by DebateHall</h6>
  </div>
  <section class="text-center">
    <h1>Layanan Kami</h1>
    <p><img src="{% static 'img/django-logo-negative.svg' %}"></p>
  </section>  
  <section class="home-about text-center text-white">
    <div class="container">
      <h1>Tentang Kami</h1>
      <p>Velit aute mollit ipsum ad dolor consectetur nulla officia culpa adipisicing exercitation fugiat tempor. Voluptate deserunt sit sunt nisi aliqua fugiat proident ea ut. Mollit voluptate reprehenderit occaecat nisi ad non minim tempor sunt voluptate consectetur exercitation id ut nulla. Ea et fugiat aliquip nostrud sunt incididunt consectetur culpa aliquip eiusmod dolor. Anim ad Lorem aliqua in cupidatat nisi enim eu nostrud do aliquip veniam minim.</p>
    </div>
  </section>
</div>
{% endblock content %}
