{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Auth</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock meta %}

{% block content %}
  <div class="container" style="max-width: 468px;">
    <h2 class="text-center my-4">Log In</h2>
    <form action="{% url 'main:login' %}" method="POST">
      {% csrf_token %}
      <div class="card customcard p-2 mb-5">
        <div class="card-body">
          <div class="mb-3">
            <label for="name" class="form-label">Nama</label>
            <input type="name" class="form-control" name="name">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn custombluebutton btn-block my-3">Log In</button>
          <p class="text-center">Don't have an account? <b><a href="{% url 'main:register' %}">Create One</a></b></p>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

