
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Auth</title>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock meta %}

{% block content %}
  <div class="container" style="max-width: 468px;">
    <h2 class="text-center my-4">Register</h2>
    <form action="{% url 'main:register' %}" method="POST">
      {% csrf_token %}
      <div class="card customcard p-2 mb-5">
        <div class="card-body">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select name="role" class="form-control">
              <option value="pendebat">Pendebat</option>
              <option value="tutor">Tutor</option>
              <option value="juri">Juri</option>
              <option value="host">Host</option>
            </select>
          </div>


          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn custombluebutton btn-block my-3">Register</button>
          <p class="text-center">Already have an account? <b><a href="{% url 'main:login' %}">Log In</a></b></p>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

