{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Hasil Debat</title>
  <link rel="stylesheet" href="{% static 'css/artikel.css' %}">
{% endblock meta %}

{% block content %}
  <div class="container">
    <div class="mb-5">
      <h1 style="font-size: 72px;"><b>Hasil Debat</b></h1>
      {% if isJuri == True %}
      <a href="{% url 'mengumumkanhasil:dasbor_hasil' %}" class="btn custombluebutton">Menuju Dasbor</a>
      {% endif %}
    </div>
    <div class="mt-3 row">
      {% if hasils %}
        {% for hasil in hasils %}
          <div class="customcard m-3" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">Hasil Debat {{ hasil.debatModel.judul }}</h4>
              <a href="{% url 'mengumumkanhasil:detail_hasil' id_hasil=hasil.id_hasil %}" class="btn custombluebutton">Baca Selengkapnya</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}