{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Hasil Debat</title>
  <link rel="stylesheet" href="{% static 'css/artikel.css' %}"> 
{% endblock meta %}

{% block content %}
  <!-- Modal -->
  <div class="modal fade" id="hapusModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hapusModalLabel">Hapus Hasil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-text">
        </div>
        <div class="modal-footer">
          <a id="modal-url" href="#" type="button" class="btn customredbutton">Hapus Hasil</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="container">
    <div class="my-3">
      <h2 class="text-center mb-5">Dasbor Hasil</h2>
      <a href="{% url 'mengumumkanhasil:formulir_hasil' %}" type="button" class="btn custombluebutton">Tambah Hasil</a>
    </div>
    <div class="mt-3">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Judul</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% if hasils %}
            {% for hasil in hasils %}
              <tr>
                <td>{{ hasil.id_hasil }}</td>
                <td>Hasil Debat {{ hasil.debatModel.judul }}</td>
                <td>
                  <a href="{% url 'mengumumkanhasil:ubah_hasil' id_hasil=hasil.id_hasil %}" type="button" class="btn btn-sm custombluebutton m-1">Ubah</a>
                  <button type="button" class="btn btn-sm customredbutton m-1" data-toggle="modal"
                    data-target="#hapusModal" onclick="deleteFunc( '{{hasil.id_hasil}}' )">Hapus</button>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    function deleteFunc(id) {
        document.getElementById("modal-text").innerHTML = `Apakah anda yakin ingin menghapus artikel id <b>${id}</b>?`
        document.getElementById("modal-url").href = `/mengumumkanhasil/hapus/${id}`
    }
  </script>
{% endblock content %}