{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hasil Debat</title>
<script>
  // The function below will start the confirmation dialog
  function confirmAction() {
    let confirmAction = confirm("Yakin mengumumkan hasil? Ini final jadi tidak bisa diunpublish");
    if (confirmAction) {
      alert("Action successfully executed");
      window.location.href = "/mengeloladebat/1";
    } else {
      alert("Action canceled");
    }
  }

  function deleteConfirmAction() {
    let confirmAction = confirm("Yakin hapus?");
    if (confirmAction) {
      alert("Action successfully executed");
      window.location.href = "/mengeloladebat/1";
    } else {
      alert("Action canceled");
    }
  }
</script>
{% endblock meta %}

{% block content %}
  <h1>Formulir Hasil Debat</h1>
  <h2>Hasil Debat {{ hasil.debatModel.judul }}</h2>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="formGroupExampleInput">Government</label>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ hasil.pm }} 
            <span class="badge badge-primary badge-pill">{{ hasil.pm_score }} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ hasil.dpm }} 
            <span class="badge badge-primary badge-pill">{{ hasil.dpm_score }} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ hasil.gw }} 
            <span class="badge badge-primary badge-pill">{{ hasil.gw_score }} </span>
        </li>
      </ul>
    </div>

    <div class="form-group col-md-6">
      <label for="formGroupExampleInput">Opposition</label>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ hasil.oo }} 
            <span class="badge badge-primary badge-pill">{{ hasil.oo_score }} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ hasil.dlo }} 
            <span class="badge badge-primary badge-pill">{{ hasil.dlo_score }} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ hasil.ow }} 
            <span class="badge badge-primary badge-pill">{{ hasil.ow_score }} </span>
        </li>
      </ul>
    </div>
  </div>
   
  <div class="form-group">
    <label for="exampleFormControlTextarea1">General Comment</label>
    <p>
      {{ hasil.general_comment | safe }} 
    </p>
  </div>
  
{% endblock content %}
