{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>HasilDebat - Buat</title>
<script src="https://cdn.tiny.cloud/1/rits967rpft2n8zl9lpacidpbxmnslueyite3ci7574qo8tt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<link rel="stylesheet" href="{% static 'css/artikel.css' %}"> 
{% endblock meta %}

{% block content %}
<div class="container">
    {% if err_msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Data gagal tersimpan. Harap masukkan data yang valid!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <h2 class="text-center my-5">Form Pengubahan Hasil Debat</h2>
    <div class="mt-3">
      <form action="{% url 'mengumumkanhasil:ubah_hasil' id_hasil=id_hasil %}" method="POST">
        {% csrf_token %}
        <div class="card customcard p-4 mb-5">
          <div class="card-body">
            <div class="mb-3">
              {% comment %} <label for="pk_id" class="form-label">id_hasil</label>
              <input type="text" class="form-control" name="id_hasil" value="{{ id_hasil }}">

              <label for="pk_id" class="form-label">iddebat</label>
              <input type="text" class="form-control" name="iddebat" value="{{ iddebat }}"> {% endcomment %}

              <label for="pm" class="form-label">pm</label>
              <input type="text" class="form-control" name="pm" value="{{ pm }}">
              <label for="dpm" class="form-label">dpm</label>
              <input type="text" class="form-control" name="dpm" value="{{ dpm }}">
              <label for="gw" class="form-label">gw</label>
              <input type="text" class="form-control" name="gw" value="{{ gw }}">

              <label for="pm_score" class="form-label">pm_score</label>
              <input type="text" class="form-control" name="pm_score" value="{{ pm_score }}">
              <label for="dpm_score" class="form-label">dpm_score</label>
              <input type="text" class="form-control" name="dpm_score" value="{{ dpm_score }}">
              <label for="gw_score" class="form-label">gw_score</label>
              <input type="text" class="form-control" name="gw_score" value="{{ gw_score }}">

              <label for="oo" class="form-label">oo</label>
              <input type="text" class="form-control" name="oo" value="{{ oo }}">
              <label for="dlo" class="form-label">dlo</label>
              <input type="text" class="form-control" name="dlo" value="{{ dlo }}">
              <label for="ow" class="form-label">ow</label>
              <input type="text" class="form-control" name="ow" value="{{ ow }}">

              <label for="oo_score" class="form-label">oo_score</label>
              <input type="text" class="form-control" name="oo_score" value="{{ oo_score }}">
              <label for="dlo_score" class="form-label">dlo_score</label>
              <input type="text" class="form-control" name="dlo_score" value="{{ dlo_score }}">
              <label for="ow_score" class="form-label">ow_score</label>
              <input type="text" class="form-control" name="ow_score" value="{{ ow_score }}">
      
            </div>
            <div class="mb-3">
              <label for="general_comment" class="form-label">Isi</label>
              <textarea type="text" class="general_comment" name="general_comment">{{ general_comment }}</textarea>
            </div>
          </div>
        </div>
        <div class="text-right">
          <a href="{% url 'mengumumkanhasil:dasbor_hasil' %}"  type="button" class="btn customredbutton">Batal</a>
          <button type="submit" class="btn custombluebutton">Simpan</button>
        </div>
      </form>
    </div>
  </div>
  <script>
  tinymce.init({
    selector: "textarea.general_comment",
    plugins:
      "casechange advcode advlist lists spellchecker formatpainter autoresize visualblocks tinydrive image link media imagetools wordcount",
    min_height: 380,
    menubar: false,
    toolbar: [
      "bold italic underline | forecolor | formatselect | alignleft aligncenter alignright | bullist numlist",
      "cut copy paste formatpainter removeformat | casechange visualblocks | spellchecker | link image media | code"
    ]
  });
  </script>
{% endblock content %}
