body {
  color: #1D3557;
}
a {
  color: #1D3557;
}
a:hover {
  color: #1D3557;
}

#home{
  margin-bottom: -5rem;
}

.home-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin-top: -40px;
  color: white;
}

.title {
  font-size: 64px;
}

.subtitle {
  font-size: 18px;
}

.home-about {
  background-color: #1D3557;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.customcard {
  border: 2px solid #1D3557;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}


.custombluebutton{
  background: #457B9D;
  border: 2px solid #457B9D;
  color: white;
  transition: 0.5s;
}
.custombluebutton:hover,
.custombluebutton:focus{
  color: white;
  border: 2px solid #1D3557;
  box-shadow: inset 0 0 0 10em #1D3557;
}
